.project-card{
    height: 650px;
    width: 500px;
    background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  font-family: 'Baloo bhai 2',cursive;
}
.project-card:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}
.card-details-project{
    position: relative;
}

.btn-project{
    position: absolute;
    bottom: 2px;
    margin: 0 40px;
    align-items: center;
    color: var(--white);
    border: 2px solid linen;
    font-size: 15px;
    background-color: #1f2235;
}
.btn-project:hover{
    color: aliceblue;
    border: 2px solid #ff5823;
    background-color: #1f2235;
}
.project-btn-card{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px){
    .project-card{
        margin: auto;
        padding: auto;
        width: auto;
    }
}
