footer{
    background: var(--color-bg-variant);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    font-family: 'Baloo Bhai 2';
}
footer a{
    color: var(--yellow);
}
.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Baloo Bhai 2';
    font-size: 18px;
}
.permalinks a{
    text-decoration: none;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.details{
    color: var(--yellow);
    margin-bottom: 4rem;
}
@media screen and (max-width:600px) {
    .permalinks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        font-family: 'Baloo Bhai 2';
        font-size: 18px;
    }
    
}