.floatingDiv {
    justify-content: space-around;
    background: rgb(219, 245, 245);
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 0px 22px 0px 0px;
    height: 4.5rem;
  }
  .floatingDiv > img {
    transform: scale(0.4);
  }
  .floatingDiv > span {
    font-family: 'Baloo Bhai 2',cursive;
    font-size: 13px;
    color: black;
  }