@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');

.about-container{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.card-details{
    height: 600px;
    width: 500px;
    border: none;
    box-shadow: 5px 20px 24px 3px rgba(251, 161, 40, 0.9);
}
.card-text{
    padding: 18px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
.card-heading{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: var(  --black);
}
.list li{
    list-style: none;
    font-size: 18px;
    font-family: 'Baloo Bhai 2',cursive;
    padding: 6px;
}
#new-style{
    display: flex;
    justify-content: space-between;
}
 
 .me-pic{
     width: 290px;
     height: 410px;
 }
 .about-pictures{
     margin-left: 70px;
     flex: 1;
     position: relative;
 }
 .about-pictures> *{
     position: absolute;
     z-index: 1;
 }

.about-pictures>:nth-child(1){
    transform: scale(0.69);
    right: -15%;
    top: -9%;
}
.about-pictures>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.about-pictures>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
    top: -25px;
}
.about-pictures > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
@media screen and (max-width: 480px) {
    .about-container{
        flex-direction: column;
        height: 84rem;
        gap: 7rem;
    }
    .card-details{
        width: auto;
    }
    .card-heading{
        font-size: 15px;
    }
    .card-text{
        font-size: 15px;
    }
    .list li{
        font-size: 15px;
    }
    .about-pictures{
        margin-top: 50px;
        transform: scale(0.7);
        left: -7rem;
    }
    .about-pictures .blur{
        display: none;
    }
    .floating-div:nth-of-type(1){
        top:-7rem !important;
    }
}
 
  
