@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');

.about-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-details{
    height: 600px;
    width: 500px;
    border: none;
    box-shadow: 5px 20px 24px 3px rgba(251, 161, 40, 0.9);
}
.card-text{
    padding: 18px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
.card-heading{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: var(  --black);
}
.list li{
    list-style: none;
    font-size: 18px;
    font-family: 'Baloo Bhai 2',cursive;
    padding: 6px;
}
#new-style{
    display: flex;
    justify-content: space-between;
}
 
 
 
 
 
 
 /* .me-pic{
     width: 290px;
     height: 410px;
 }
 .about-pictures{
     flex: 1;
     position: relative;
 }
 .about-pictures *{
     position: absolute;
     z-index: 1;
 }

.about-pictures>:nth-child(1){
    transform: scale(0.69);
    right: -15%;
    top: -9%;
}
.about-pictures>:nth-child(2){
    top: 4.6%;
    
} */